<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    body {
      width: 1000px;
      margin: 50px auto;
      font-family: Palatino, serif;
      background-color: #dbd4c2;
      color: #555050;
    }
    h2 {
      margin-top: 2em;
      font-family: Arial, sans-serif;
      font-weight: 100;
    }
  </style>
</head>
<body>
<h1>CLOR</h1>
<% index = 1 %>
<% @recordings.each do |record| %>
  <h2><%=index%>. <%= record['opera']['name'] %> (<%= record['composer']['name'] %>, <%= record['conductor'] %>, <%= record.yearAndRecordingType %>)</h2>
  <p><b>Conductor: </b><a href="/recordings?conductor=<%= record['conductor'] %>&recordType=STU"><%= record['conductor'] %></a></p>
  <p><b>Orchestra: </b><%= record['orchestra'] %></p>
  <p><b>Cast: </b>
	<% record.singers.each do |singer| %>
		<p><a href="/recordings?singer=<%= singer.name %>&recordType=STU"><%= singer.name %></a> (<i><%= singer.characterName %></i>)</p>
	<% end %>
  </p>
  <p><b>Recording: </b><%= record.yearAndRecordingType %></p>
  <p><b>Releases: </b><%= record.editions.where('medium' => 'cd').first.reference if record.editions.where('medium' => 'cd').any? %></p>
  <p><b>Id: </b><%= record.id %></p>
  <% index = index + 1 %>
<% end %>
</body>
</html>
